@import url('https://fonts.googleapis.com/css2?family=Geo&family=Roboto+Mono&display=swap');

/* CSS Reset below- normalized settings to give
more control of the elements to the developer */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
background-color: #161D4B ;
height: 100px;
}

/* Usando agora o Boot-strap, a função de grid fica apenas
por "container" e não precisa ser editada no css */

/* .centralized-grid {
    width: 1200px;
    margin: 0 auto;
} */

.spacebetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.menu{
    width: 1100px;
display: flex;
justify-content: space-between;
align-items: center;
}

.menu a, p {
color: whitesmoke;
text-decoration: none;
text-transform: uppercase;
font-size: 20px;
font-weight: bold;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu h3 {
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Geo";
}

#titulo {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

.blue-backgorund {
    background-color: #3A4EA6;
}


/* Posição do Banner Principal */
.position-banner {
   width: 100%;
   height: 100%;
    display: flex;
    justify-content: center;

}

/* Deixando as coisas espaçadas umas das outras */
.espacamento-banner {
  height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

/* Conteúdos do Banner */
.banner {
    background-image: url(../img/Rectangle\ 2.png);
height: 200px;

background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

/* Estilos */
.conteudo-banner { 
width: 570px;
height: 100%;

display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between ;


    color: white;
}

.conteudo-banner h1 {
    font-family: "Roboto Mono" ; 
    /* or write "Roboto" betwen aspas "" */
    /* If you want a font family that the computer
    doens know, you can search for Google Fonts, 
    copy the @import code and put on the top of the page
    here in CSS, just like in this doc. Then, write down
    the name of the fonts you added here and it will be done*/
    font-weight: bold;
    font-size: 35px;
    background-color:whitesmoke;
    border-radius: 5px;
    color: #3246FF;

}

/* just remembering you, a is equal to text with 
a link or the HiperLink or smt idk */
.conteudo-banner a {

    padding: 15px;
    text-transform: uppercase;
    text-decoration: none;


font-family: Roboto Mono;
font-size: 20px;
font-weight: bold; 

background-color: #3246FF ;
border-radius: 40px;

color: white; 

}





/* No final de todos os estilos da página
colocamos agora, se necessário, a parte que 
torna a página responsiva. 
Essa parte se chama: Media Query
Fazemos ela da seguinte forma: */

@media screen and (max-width: 1200px) {
    header {
        background-color: darkslategray;
    }

    /* .centralized-grid {
        width: 80%vw;
    }
     */
}

/* podemos fazer media query com QUALQUER
ITEM/SECTION/CLASS no código inteiro
Há possibilidade de fazer infinitos media
query, mas a fins de organização, coloca-se
geralmente a media query com maior width primeiro,
já que esta vai imediatamente influenciar todas as 
que estiverem abaixo dela */